@charset "utf-8";
/*---------------------------------------
    common
---------------------------------------*/
.mo-wrap {
    position:relative;
    width: 100%;
    max-width:750px;
    min-height: 100vh;
    margin:0 auto;
}
.header {
    position:relative;
    display: flex;
    align-items: center;
    padding:0 24px;
    height: 50px;
}
.header:before {
    position:absolute;
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, #18A353 0%, #82C140 100%);
    left: 0;
    bottom: -6px;
    content: '';
}
.header .logo {
    display: block;
    width: 100px;
    height: 27px;
}
.header .logo img {
    width: 97px;
    object-fit: contain;
}
.container {
    padding:0 24px;
    box-sizing: border-box;
    min-height: calc(100vh - 160px);
    padding-bottom: 160px;
}
.pop-wrap.fixed {
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background:#fff;
    z-index: 100;
}

.pop-container {
    padding:0 24px;
    padding-bottom: 140px;
    box-sizing: border-box;
    height: calc(100% - 54px);
}
.pop-container.scroll {
    overflow-y: scroll;
}
.footer-btn {
    position:absolute;
    bottom:47px;
    width: 100%;
    display: flex;
    gap: 7px;
    padding:0 24px;
    box-sizing: border-box;
}
.footer-btn .btn {
    display: block;
    flex:1;
    padding:17px 0;
    text-align: center;
    color:#fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.align-center {
    text-align: center;
}
.point {
    color:#00854A;
}
.btn-default {
    background:#006A3B;
}
.footer-btn .btn.btn-kakao {
    background:#FFD600;
    color:#000;
}
.btn-disabled {
    background:#B9B9B9;
}
input[type="checkbox"] {
    display: none;
}
.chk-wrap label {
    font-size: 16px;
    font-weight: 700;
}
.chk-wrap label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    border:1px solid #aaa;
    border-radius: 6px;
    margin-right: 8px;
    margin-bottom: 4px;
    background:#fff;
    box-sizing: border-box;
    vertical-align: middle;
    content: '';
}
.chk-wrap + .chk-list {
    margin-top: 17px;
}
input[type="checkbox"]:checked + label::before {
    background-image: url('../images/input-check.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #00854A;
    border-color: #00854A;
}
/*---------------------------------------
    icon
---------------------------------------*/
.icon {width:16px;height:16px;display: inline-block;background-repeat: no-repeat;background-size: contain;}
.icon_close {background-image: url(../images/icon_close.svg);}
.icon_kakao {width:20px;height:18px;background-image: url(../images/kakao.png);}
.icon_notice {background-image: url(../images/icon_notice.svg);}
.icon_arrow-right {width:8px;height:8px;background-image:url(../images/icon_arrow-right.svg);}
.icon_close-call {width: 26px;height: 26px;background-image: url(../images/icon_close-call.svg);}
.icon_plus {background-image: url(../images/icon_plus.svg);}
.icon_pen {width: 34px;height: 34px;background-image: url(../images/icon_pen.svg);}
.icon_highlighter {width: 34px;height: 34px;background-image: url(../images/icon_highlighter.svg);}
.icon_stamp {width: 34px;height: 34px;background-image: url(../images/icon_stamp.svg);}
.icon_memo {width: 34px;height: 34px;background-image: url(../images/icon_memo.svg);}
.icon_eraser {width: 34px;height: 34px;background-image: url(../images/icon_eraser.svg);}
.icon_setting {width: 34px;height: 34px;background-image: url(../images/icon_setting.png);}
.icon_arrow-open {width: 24px;height: 24px;background-image: url(../images/arrow-open.svg);}
.icon_arrow-close {width: 24px;height: 24px;background-image: url(../images/arrow-close.svg);}
/*---------------------------------------
    bottom sheet 
---------------------------------------*/
.bottom-sheet-wrapper {
    position:absolute;
    bottom:0;
    width: 100%;
    max-height: 80%;
    z-index: 1;
    overflow: scroll;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -25px 32px 0px rgba(0, 0, 0, 0.07);
}
.bottom-sheet-wrapper.active .bottom-sheet {
    transform: translateY(0);
    opacity: 1;
}

.bottom-sheet {
    position:relative;
    padding:0 24px 110px;
    background:#fff;
    width: 100%;
    min-height: 580px;
    bottom:0;
    box-sizing: border-box;
    transform: translateY(100%);
    opacity: 0;
    transition:.2s;
    z-index: 10;
}
.bottom-tit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
    padding: 20px 0;
}
.bottom-sheet .verification {
    margin: 40px 0;
}
.bottom-sheet .sheet-close {
   display: inline-block;
   margin-left: auto;
}
.bottom-sheet h2 {
    display: block;
    width: 100%;
    font-size:20px;
    font-weight:400;
}
.bottom-sheet h2 strong {
    font-weight: 700;
}
.bottom-sheet .desc {
    font-size: 12px;
    line-height: 24px;
    color: #767676;
}
.bottom-sheet .chk-wrap {
    margin:23px 0 17px;
    padding:16px 30px 16px 16px;
    background:#EFF9E8;
    border-radius: 20px;
}
.bottom-sheet .chk-wrap label {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    align-items: flex-start;
}
.bottom-sheet .footer-btn {
   left:0;
}
.chk-list .chk-wrap {
    background:none;
    margin:0;
    padding: 4px 30px 4px 16px;
}
.chk-list .chk-wrap label::before {
    display: inline-block;
    background-image: url('../images/input-check2.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter:grayscale(1);
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border:none;
    content: '';
}
.chk-list input[type="checkbox"]:checked + label::before {
    background-image: url('../images/input-check2.svg');
    background-repeat: no-repeat;
    background-color:inherit;
    background-position: 50% 50%;
    filter:none;
}
.bottom-sheet .chk-list .col, .arrow-type .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chk-list .link-btn {
    padding-right: 11px;
}
/*---------------------------------------
    등록고객 
---------------------------------------*/
.col-box {
    margin-top: 73px;
}
.icon-box {
    position:relative;
    width: 100px;
    height: 100px;
    border-radius:30px;
    margin:0 auto;
}
.icon-box.type1 {
    background:#F9EDBD;
}
.icon-box.type1:before {
    position:absolute;
    top: 18px;
    left: 12px;
    width: 77px;
    height: 72px;
    background-image: url(../images/info.png);
    background-size: cover;
    content:'';
}
.icon-box.type2 {
    background:#C5E8DC;
}
.icon-box.type2:before {
    position:absolute;
    top: 18px;
    left: 18px;
    width: 71px;
    height: 76px;
    background-image: url(../images/verification.png);
    background-size: cover;
    content:'';
}
.cont-tit {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin:16px 0 24px;
}
.cont-box {
    min-height: 308px;
    padding:30px 28px;
    border: 1px solid rgba(221, 221, 221, 1);
    box-shadow: 0px 16px 15px 0px rgba(168, 170, 166, 0.5);
    border-radius: 30px;
    box-sizing: border-box;
}
.cont-header {
    margin-bottom: 10px;
}
.cont-header label {
    font-size: 16px;
    font-weight: 700;
}
.cont-header h2 {
    font-size: 16px;
    font-weight: 700;
}
.cont-box .bul-list {
    margin:0px 0 20px;
}
.cont-box .bul-list li {
    position:relative;
    font-size: 14px;
    line-height: 18px;
    padding-left:10px;
    margin-top: 8px;
}
.cont-box .bul-list li:first-child {
    margin-top: 0;
}
.cont-box .bul-list li:before {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    left: 0;
    top:6px;
    background:#777;
    content: '';
}
.cont-box p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color:#666666;
    word-break: keep-all;
}
.cont-box strong {
    display: block;
    font-weight: bold;
    color:#666;
}
.verification .header {
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: space-between;
    margin:13px 0 7px;
}
.verification .header:before {
    display: none;
}
.verification .header h2 {
    font-weight: 500;
    font-size: 16px;
}
.verification .desc p {
    display: block;
    font-size: 12px;
    line-height: 24px;
}
.verification .desc strong {
    font-weight: 700;
}
.verification .notice {
    margin: 12px 0 8px;
    font-size: 12px;
    line-height: 23px;
    color: #999;
}
.verification .notice .icon {
    vertical-align: sub;
    margin-right: 3px;
}
.verification .btn-l {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border:1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding:20px 0;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}
.verification .chk-wrap:not(.type1) {
    margin-top: 23px;
    padding:16px 30px 16px 16px;
    background:#EFF9E8;
    border-radius: 20px;
}
.verification .chk-wrap label {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    align-items: flex-start;
}
.verification .form-wrap {
    margin-top: 34px;
}
.verification .inp-box {
    position:relative;
}
.verification .inp-box + .inp-box {
    margin-top: 40px;
}
.verification .inp-box .tit {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.verification .inp-box .btn {
    position:absolute;
    right:0;
    bottom:12px;
    width: 70px;
    height: 36px;
    font-size: 14px;
    color: #666;
    border:1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verification .inp-box .timer {
    position:absolute;
    right: 82px;
    bottom:15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color:#FF7A00;
}
.verification .inp-text {
    display: block;
    width: 100%;
    border:none;
    border-bottom:1px solid #000;
    font-size: 22px;
    font-weight: 700;
    padding:12px 8px;
    box-sizing: border-box;
    border-radius: 0;
}
.verification .inp-text:focus-visible {
    border-bottom:3px solid #000;
    outline: none;
}
.video-wrap {
    padding-bottom: 0;
    height: 100vh;
}
.video-wrap .bg {
    background-image: url(../images/logo-m.png);
    background-repeat: no-repeat;
    background-size: 150px 42px;
    background-position: 50% 50%;
}
.video-wrap .header {
    /* margin: 15px 0 25px; */
    padding:15px 24px 25px;
    gap: 8px;
}
.video-wrap .header:before {
    display: none;
}
.video-wrap .header .box {
    height: 100%;
    border-radius: 10px;
    color:#fff;
    box-sizing: border-box;
}
.video-wrap .header .box:nth-of-type(1) {
    display: flex;
    align-items: center;
    min-width: 255px;
    padding:10px 14px;
    font-size: 14px;
    background:#00854A;
    flex:4;
}
.video-wrap .header .box:nth-of-type(2) {
    min-width:64px;
    background:#FF3D46;
    flex:1;
}
.video-wrap .header .box span {
    position:relative;

}
.video-wrap .header .box span + span {
    margin-left: 14px;   
}
.video-wrap .header .box span:before {
    position:absolute;
    height: 100%;
    width: 1px;
    background:#fff;
    left: -8px;
    opacity: .5;
    content: '';
}
.video-wrap .header .box span:first-child:before {
    display: none;
}
.video-wrap .header .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.video-wrap .container {
    margin-top: 25px;
    position: relative;
    min-height: calc(100vh - 160px);
    padding-bottom: 200px;
}
.video-wrap .video-box {
    position:absolute;
    width: 160px;
    height: 161px;
    border-radius: 20px;
    overflow: hidden;
}
.video-wrap .video-box .open-btn {
    display: block;
    position: absolute;
    background:#D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
}
.video-wrap .video-box .open-btn.hidden {
    display: none;
}
.video-wrap .video-box.top .open-btn {
    top: 10px;
    width: 45px;
    height: 45px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.video-wrap .video-box.top {
    left:24px;
    top: 0;
}
.video-wrap .video-box .cont {
    transition: .3s;
}
.video-wrap .video-box .cont.hidden {
    transform: translateX(-100%);
    transition: .3s;
}
.video-wrap .video-box.bottom .cont.hidden {
    transform: translateX(100%);
}
.video-wrap .video-box.bottom .open-btn {
    bottom:10px;
    width: 45px;
    height: 45px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right:0;
}
.video-wrap .video-box.bottom {
    right: 24px;
    bottom: 0;
}
.video-wrap .video-box .camera-btn {
    position:absolute;
    top:9px;
    left: 11px;
    border-radius: 6px;
    color:#fff;
    height: 26px;
    background:rgba(0,0,0,.5);
    font-size: 12px;
    border:none;
}
.video-wrap .video-box .info {
    position:absolute;
    display: block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    text-align: center;
    bottom:8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    background:#00854A;
    color:#fff;
    font-size: 12px;
    font-weight: 700;
}
.video-wrap .intro {
    margin-top: 45px;
    padding-top: 190px;
}
.video-wrap .intro .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-wrap .intro .content img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.video-wrap .frame {
    /* margin-top: 57px; */
}
.video-wrap .frame img {
    width: 100%;
}
.video-wrap .chk-wrap {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    left: 50%;
    transform: translateX(-50%);
    border:1px solid #767676;
    padding:12px 44px 12px 16px;
    border-radius: 8px;
}
.video-wrap .chk-wrap label {
    font-size: 14px;
    color: #767676;
}
.video-wrap .chk-wrap label:before {
    position:absolute;
    right:16px;
    margin:0;
}
.video-wrap .footer-bottom {
   /* position:absolute;
   width: 100%;
   bottom:0; */
}
.video-wrap .footer-bottom .btn-wrap {
    
}
.video-wrap .footer-bottom .icon-btn {
    position: fixed;
    left: 5.6vw;
    bottom:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 54px;
    background:#00854A;
    border-radius: 50%;
    z-index: 1;
}
.video-wrap .footer-bottom .btn-prev {
    position: fixed;
    right: 5.6vw;
    bottom:30px;
    text-align: center;
    width: 160px;
    height: 54px;
    line-height: 54px;
    background:#DDDDDD;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color:#000;
    z-index: 1;
}
.video-wrap .tool-wrap {
    position:fixed;
    bottom:0;
    left: 0;
    padding:35px 16px 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background:#fff;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    box-shadow: 0px -25px 32px 0px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    transform: translateY(100%);
    transition:.3s ease;
    z-index: 1;
}
.video-wrap .tool-wrap.show {
    transform: translateY(0);
    transition:.3s ease;
}
.video-wrap .tool-wrap li {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color:#666666;
    text-align: center;
}
.video-wrap .tool-wrap li .icon {
    margin-bottom: 6px;
}
.video-wrap .txt-box {
    padding-top: 250px;
    text-align: center;
}
.video-wrap .txt-box h2 { 
    margin-bottom: 12px;
    font-size:20px;
    font-weight: 700;
}
.video-wrap .txt-box p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.terms_wrap {
    padding:15px 0;
    box-sizing: border-box;
}
.terms_wrap strong {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom:20px;
}
.terms_wrap p {
    font-size: 14px;
    color:#999;
    margin-bottom: 20px;
    line-height: 16px;
}
.terms_wrap p.sub-tit {
    margin-top: 10px;
    font-size: 16px;
    color:#000;
}
.terms_wrap ul {
    margin:12px 0 20px;
}
.terms_wrap ul li {
    position:relative;
    padding-left:12px;
    font-size: 14px;
}
.terms_wrap ul li:before {
    position:absolute;
    width: 4px;
    height: 4px;
    left: 0;
    top:4px;
    background:#000;
    border-radius: 50%;
    content: '';
}
.terms_wrap li + li {
    margin-top: 8px;
}
.terms_wrap p.tit {
    margin:20px 0 8px;
    color:#222;
}
.terms_wrap .table {
    border-top: 1px solid #eee;
}
.terms_wrap .table th,td {
    font-size: 12px;
    vertical-align: middle;
} 
.terms_wrap .table th {
    background: #F7F9F9;
    border-bottom:1px solid #eee;
}
.terms_wrap .table td {
    text-align: left;
    line-height: 16px;
}
.tab_line {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
    padding: 0rem 3.2rem;
    margin: 0rem -3.2rem;
}
.tab_line:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 3.2rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0) 1.6rem);
    pointer-events: none;
}
.tab_line button {
    border:none;
    padding:8px 14px;
    background:none;
    color:#000;
}
.tab_line button.active {
    border-bottom: 2px solid #000;
}
.tab_cont_wrap .tab_cont {
    display: none;
    padding:20px;
    margin:0 -15px;
    height: 84vh;
    overflow-y: scroll;
}
.tab_cont_wrap .tab_cont.active {display:block}
.tab_cont strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin:20px 0;
}
.tab_cont p {
    font-size: 14px;
    line-height: 18px;
    margin:10px 0;
    word-break: keep-all;
}
.tab_cont p:last-child {
    margin-top: 30px;
    margin-bottom: 150px;
    color:#777;
}
.tab_cont p + ul {
    margin-top: 16px;
}
.tab_cont ul {
    position:relative;
}
.tab_cont ul li {
    font-size: 14px;
    line-height: 16px;
    word-break: keep-all;
}
.tab_cont ul li > ul {
    padding-left: 8px;
    margin:8px 0;
}
.tab_cont ul li + li {
    margin-top:12px;
}
.tab_cont .table caption {
    display: none;
}
.tab_cont .table {
    margin:16px 0;
}
.tab_cont .table table {
    width: 100%;
}
.tab_cont .table th,td {
    padding:4px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    border-bottom: 1px solid #eee;
    padding: 12px 16px;
}
.tab_cont .table th {
    background: #F7F9F9;
    font-weight: 500;
}
.tab_cont .table td {
    background: #fff; 
    font-size: 12px;
}