@charset "utf-8";

@font-face {
  font-family: 'Malgun Gothic Webfont';
  src: url('./webfont/malgunsl.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Malgun Gothic Webfont';
  src: url('./webfont/malgun.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Malgun Gothic Webfont';
  src: url('./webfont/malgunbd.woff') format('woff');
  font-weight: 700;
}




@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'), url('./webfont/Pretendard-Black.woff2') format('woff2'), url('./webfont/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'), url('./webfont/Pretendard-ExtraBold.woff2') format('woff2'), url('./webfont/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('./webfont/Pretendard-Bold.woff2') format('woff2'), url('./webfont/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url('./webfont/Pretendard-SemiBold.woff2') format('woff2'), url('./webfont/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('./webfont/Pretendard-Medium.woff2') format('woff2'), url('./webfont/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('./webfont/Pretendard-Regular.woff2') format('woff2'), url('./webfont/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'), url('./webfont/Pretendard-Light.woff2') format('woff2'), url('./webfont/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'), url('./webfont/Pretendard-ExtraLight.woff2') format('woff2'), url('./webfont/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'), url('./webfont/Pretendard-Thin.woff2') format('woff2'), url('./webfont/Pretendard-Thin.woff') format('woff');
}

